{# 
    img: imgObject
    name: string
    role: string
 #}


<div class="member-card">
    <div class="member-card__img">
        <img src="{{ img.url }}" alt="{{ img.alt }}">
    </div>
    <div class="member-card__infos">
        <p class="member-card__infos__name">{{ name }}</p>
        <p class="member-card__infos__role">{{ role }}</p>
    </div>
</div>