{# Variables
    paragraphDatas: {}
    img:  imgObject
    revert: bool
    bg: string
    class: string
 #}

 {% set classes =  [
    'image-text',
    class,
    bg ? 'image-text--' ~ bg : null,
    revert ? 'image-text--revert' : null
 ]|join(' ') %}


<div
    class="{{ classes }}"
>
    <div class="image-text__img">
        <img src="{{ img.url }}" alt="{{ img.alt }}">
    </div>

    <div class="image-text__text">
        {% include 'modules/paragraph.twig' with paragraphDatas %}
    </div>
</div>