<div class="members">
    {% for member in members %}
        {% set memberDatas = {
            img: member.img,
            name: member.title,
            role: member.fonction
        } %}
    
        <div class="members__card-wrapper">
            <div class="members__card-wrapper__container">
                {% include 'modules/member-card.twig' with memberDatas %}
            </div>
        </div>

    {% endfor %}
</div>