.highlight {
    display: flex;
    background-color: color(bg-dark);
    padding: $spacing-md;

    &__picture {
        
    }

    &__wrapper {
        
    }

    &__content {

        &__main {
            &__tags {
    
            }
    
            &__title {
    
            }
    
            &__time {
    
            }
    
            &__location {
    
            }
        }

        &__date {

        }
    }
}