// Font settings
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 2;
$font-weights: (
  regular : 400,
  bold : 700,
  extra-bold : 800,
);

// Containers variables
// -----------------------------------------------------------------------------
$container-padding: 30px;
$container-width: 1500px;
$container-width-small: 885px;

$header-mobile-height: 70px;
$header-desktop-height: 85px;

$burger-width: 50px;

// Spacing variables
// -----------------------------------------------------------------------------
$spacing-xsmall: 10px;
$spacing-small: 20px;
$spacing-md: 50px;
$spacing-lg: 70px;

// Radius variables
// -----------------------------------------------------------------------------
$radius-small: 10px;
$radius-big: 30px;


// Color Palette
// -----------------------------------------------------------------------------
$color-black: #2F3B41;
$color-white: #ffff;

$color-dark: #293665;
$color-light: #F5F5F5;

$color-dark-lightened: lighten($color-dark, 65%);
$color-dark-opacity: rgba($color-dark, .7);

$color-primary: #EF916D;
$color-primary-lightened: lighten($color-primary, 26%);

$color-secondary: #69A99B;
$color-secondary-lightened: lighten($color-secondary, 65%);

$color-tertiary: #BE3E82;
$color-tertiary-lightened: lighten($color-tertiary, 65%);


$default-colors: (
  dark:               $color-dark,
  light:              $color-light,

  primary:            $color-primary,
  secondary:          $color-secondary,
  tertiary:           $color-tertiary,

  bg-primary:         $color-primary-lightened,
  footer-bg:          $color-dark,

  nav-active:         $color-dark-opacity,

  text:               $color-dark-opacity,
  input:              $color-dark-lightened,

  search-bg:          $color-secondary-lightened,

  link:               $color-primary,
  link-hover:         darken($color-primary, 5%),
  
  button-bg:          $color-primary,
  button-txt:         $color-light,
  button-hover-bg:    darken($color-primary, 5%),

)