@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans-Regular.ttf?b8cc747a58ffa52b7ff9efa81dee2eb9) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans-Bold.ttf?c790f99966352c531503674ee0f6be9c) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans-ExtraBold.ttf?e390d6021c37c9e132bfb26882962b1a) format("truetype");
  font-weight: 800;
}
.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-block {
  display: block;
}

.u-table {
  display: table;
}

.u-cell {
  display: table-cell;
}

.u-va-top {
  vertical-align: top;
}

.u-va-middle {
  vertical-align: middle;
}

.u-va-bottom {
  vertical-align: bottom;
}

.u-hidden {
  display: none;
}

.u-invisible {
  visibility: hidden;
}

.u-hide-text {
  padding: 0; /* 1 */
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.u-visually-hidden--focusable:active, .u-visually-hidden--focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.u-text-hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word; /* Browser Support */
  -webkit-hyphens: auto;
          hyphens: auto;
}

.u-button-reset {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
.u-button-reset:focus {
  outline: 0;
}

.u-nobr {
  white-space: nowrap;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #F5F5F5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: auto;
}
@media (max-width: 81.24em) {
  body.menu-is-open {
    overflow: hidden !important;
  }
}

.no-scroll {
  overflow: hidden !important;
}

.site-container {
  overflow: hidden;
  padding: 85px 0 0;
}
@media (max-width: 47.99em) {
  .site-container {
    padding: 70px 0 0;
  }
}

.container {
  padding: 30px;
  margin: auto;
  width: 100%;
  max-width: 1500px;
}
.container--small {
  max-width: 885px;
}
@media (max-width: 47.99em) {
  .container {
    padding: 20px;
  }
}

.svg {
  display: inline-block;
}
.svg svg {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none; /* Browser Support */
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* 1 */
  font-size: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  font-family: "openSans";
  font-weight: 400;
  color: rgba(41, 54, 101, 0.7);
  font-size: 1.25rem;
  line-height: 2;
}

h1 {
  font-family: "openSans";
  font-weight: 700;
  font-size: 2.5rem;
}
@media (max-width: 47.99em) {
  h1 {
    font-size: 2.8125rem;
  }
}

.button {
  padding: 15px 50px 17px;
  font-family: "openSans";
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background-color: #EF916D;
  color: #F5F5F5;
  border-radius: 12px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out;
  outline: none;
}
@media (max-width: 47.99em) {
  .button {
    padding: 14px 16px;
    border-radius: 7px;
    font-size: 1.1875rem;
  }
}
.button:hover {
  background-color: #ec8056;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: #F5F5F5;
  transition: top 0.2s ease-in-out, height 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
@media (min-width: 81.25em) {
  .site-header {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
  }
}
.site-header.header-is-sticky {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.site-header.header-is-hidden {
  top: -85px;
}
@media (max-width: 81.24em) {
  .site-header.menu-is-open {
    height: 100vh;
    overflow: auto;
  }
}
.site-header__head {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  max-height: 70px;
  background-color: #F5F5F5;
}
.site-header__logo {
  display: flex;
  height: 25px;
}
.site-header__logo img {
  height: 100%;
  display: block;
  width: auto;
  max-width: 100%;
}
.site-header__burger {
  display: flex;
}
.site-header__burger .svg {
  fill: #293665;
}
@media (min-width: 81.25em) {
  .site-header__burger {
    display: none;
  }
}
.site-header__body {
  padding: 20px 30px;
}
@media (min-width: 81.25em) {
  .site-header__body {
    padding: 0;
  }
}
@media (min-width: 81.25em) {
  .site-header__body__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
  }
}
.site-header__body__navigation__item {
  position: relative;
  padding: 20px 0;
  font-family: "openSans";
  font-weight: 700;
  font-size: 1.25rem;
}
@media (max-width: 81.24em) {
  .site-header__body__navigation__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #69A99B;
  }
}
@media (min-width: 81.25em) {
  .site-header__body__navigation__item {
    padding: 0 20px;
    flex-shrink: 0;
  }
}
.site-header__body__navigation__item a {
  color: #293665;
  display: block;
}
@media (min-width: 81.25em) {
  .site-header__body__navigation__item a.active {
    position: relative;
  }
  .site-header__body__navigation__item a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 3px;
    border-radius: 3px;
    background-color: #293665;
  }
}
