.single-atelier,
.single-spectacle {
    &__hero {
        width: 100%;
        max-width: $typeset-width;
        margin: 0 auto;

        &__breadcrumb {
            @include font(bold);
            font-size: rem(16px);
        }
    }

    &__content {
        padding-top: $spacing-md;

        .editions {
            margin-top: $spacing-xsmall;
            padding: $spacing-small;
            border: 3px solid color(dark);
        }
    }

}